@mixin btn-styles($btn-color, $btn-states-color) {
  @include diagonal-gradient($btn-color, $btn-states-color);
  background-color: $btn-color;
  transition: all 0.15s ease;
  box-shadow: none;
  &.animation-on-hover:hover {
    background-position: bottom left;
    transition: 0.3s ease-in-out;
  }

  &:hover,
  &:focus,
  &:active,
  &.active,
  &:active:focus,
  &:active:hover,
  &.active:focus,
  &.active:hover {
    background-color: $btn-states-color !important;
    background-image: linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    background-image: -webkit-linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    background-image: -o-linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    background-image: -moz-linear-gradient(
      to bottom left,
      $btn-color,
      $btn-states-color,
      $btn-color
    ) !important;
    color: $white;
    box-shadow: none;
  }

  &:active {
    box-shadow: none !important;
    transform: translateY(1px) !important;
    transition: all 0.15s ease;
  }

  &:not([data-action]):hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
  }

  &.disabled,
  &:disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $btn-color;
      border-color: $btn-color;
    }
  }

  // btn-neutral style
  @if $btn-color == $white {
    color: $primary;

    &.btn-danger {
      color: $danger;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $danger-states;
      }
    }

    &.btn-info {
      color: $info;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $info-states;
      }
    }

    &.btn-warning {
      color: $warning;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $warning-states;
      }
    }

    &.btn-success {
      color: $success;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $success-states;
      }
    }

    &.btn-default {
      color: $default;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $default-states;
      }
    }

    &.active,
    &:active,
    &:active:focus,
    &:active:hover,
    &.active:focus,
    &.active:hover,
    .show > &.dropdown-toggle,
    .show > &.dropdown-toggle:focus,
    .show > &.dropdown-toggle:hover {
      background-color: $white;
      color: $primary-states;
      box-shadow: none;
    }

    &:hover,
    &:focus {
      color: $primary-states;

      &:not(.nav-link) {
        box-shadow: none;
      }
    }
  } @else {
    color: $white;
  }

  &.btn-simple {
    color: $btn-color;
    border-color: $btn-color;
    background: $transparent-bg;

    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active {
      color: $btn-color;
      border-color: $btn-color;
      background-color: $transparent-bg !important;
      background-image: none !important;
      box-shadow: none;
    }

    &.active {
      border-color: $btn-color !important;
      &:hover,
      &:focus,
      &:active,
      &:not(:disabled):not(.disabled):active {
        color: $white;
        border-color: $btn-color;
        background-image: linear-gradient(
          to bottom left,
          $btn-color,
          $btn-states-color,
          $btn-color
        ) !important;
        background-image: -webkit-linear-gradient(
          to bottom left,
          $btn-color,
          $btn-states-color,
          $btn-color
        ) !important;
        background-image: -o-linear-gradient(
          to bottom left,
          $btn-color,
          $btn-states-color,
          $btn-color
        ) !important;
        background-image: -moz-linear-gradient(
          to bottom left,
          $btn-color,
          $btn-states-color,
          $btn-color
        ) !important;
        background-color: $btn-states-color !important;
        box-shadow: none;
      }
    }
  }
  &.btn-text {
    color: $btn-color;
    border-color: $btn-color;
    background: $transparent-bg;

    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active {
      color: $btn-color;
      border-color: $btn-color;
      background-color: $transparent-bg !important;
      background-image: none !important;
      box-shadow: none;
    }

    &.active {
      border-color: $btn-color !important;
      &:hover,
      &:focus,
      &:active,
      &:not(:disabled):not(.disabled):active {
        color: $white;
        border-color: $btn-color;
        background-image: linear-gradient(
          to bottom left,
          $btn-color,
          $btn-states-color,
          $btn-color
        ) !important;
        background-image: -webkit-linear-gradient(
          to bottom left,
          $btn-color,
          $btn-states-color,
          $btn-color
        ) !important;
        background-image: -o-linear-gradient(
          to bottom left,
          $btn-color,
          $btn-states-color,
          $btn-color
        ) !important;
        background-image: -moz-linear-gradient(
          to bottom left,
          $btn-color,
          $btn-states-color,
          $btn-color
        ) !important;
        background-color: $btn-states-color !important;
        box-shadow: none;
      }
    }
  }
  &.btn-link {
    color: $btn-color;
    &:hover,
    &:focus,
    &:active {
      background-color: $transparent-bg !important;
      background-image: none !important;
      color: $white !important;
      text-decoration: none;
      box-shadow: none;
    }
  }
}

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

// scss-docs-start btn-variant-mixin
@mixin button-variants(
  $background,
  $border,
  $color: color-contrast($background),
  $hover-background:
    if(
      $color == $color-contrast-light,
      shade-color($background, $btn-hover-bg-shade-amount),
      tint-color($background, $btn-hover-bg-tint-amount)
    ),
  $hover-border:
    if(
      $color == $color-contrast-light,
      shade-color($border, $btn-hover-border-shade-amount),
      tint-color($border, $btn-hover-border-tint-amount)
    ),
  $hover-color: color-contrast($hover-background),
  $active-background:
    if(
      $color == $color-contrast-light,
      shade-color($background, $btn-active-bg-shade-amount),
      tint-color($background, $btn-active-bg-tint-amount)
    ),
  $active-border:
    if(
      $color == $color-contrast-light,
      shade-color($border, $btn-active-border-shade-amount),
      tint-color($border, $btn-active-border-tint-amount)
    ),
  $active-color: color-contrast($active-background),
  $disabled-background: $background,
  $disabled-border: $border,
  $disabled-color: color-contrast($disabled-background)
) {
  --#{$prefix}btn-color: #{$color} !important;
  --#{$prefix}btn-bg: #{$background};
  --#{$prefix}btn-border-color: #{$border};
  --#{$prefix}btn-hover-color: #{$hover-color};
  --#{$prefix}btn-hover-bg: #{$hover-background};
  --#{$prefix}btn-hover-border-color: #{$hover-border};
  --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  --#{$prefix}btn-disabled-color: #{$disabled-color};
  --#{$prefix}btn-disabled-bg: #{$disabled-background};
  --#{$prefix}btn-disabled-border-color: #{$disabled-border};
}
// scss-docs-end btn-variant-mixin

// scss-docs-start btn-outline-variant-mixin
@mixin button-outline-variant(
  $color,
  $color-hover: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  --#{$prefix}btn-color: #{$color};
  --#{$prefix}btn-border-color: #{$color};
  --#{$prefix}btn-hover-color: #{$color-hover};
  --#{$prefix}btn-hover-bg: #{$active-background};
  --#{$prefix}btn-hover-border-color: #{$active-border};
  --#{$prefix}btn-focus-shadow-rgb: #{to-rgb($color)};
  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  --#{$prefix}btn-disabled-color: #{$color};
  --#{$prefix}btn-disabled-bg: transparent;
  --#{$prefix}btn-disabled-border-color: #{$color};
  --#{$prefix}gradient: none;
}
// scss-docs-end btn-outline-variant-mixin

// scss-docs-start btn-size-mixin
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  --#{$prefix}btn-padding-y: #{$padding-y};
  --#{$prefix}btn-padding-x: #{$padding-x};
  @include rfs($font-size, --#{$prefix}btn-font-size);
  --#{$prefix}btn-border-radius: #{$border-radius};
}
// scss-docs-end btn-size-mixin

// for social buttons
@mixin social-buttons-color($color, $state-color) {
  @include diagonal-gradient($color, darken($color, 20%));
  //background-color: $color;
  color: $white;
  background-size: 210% 210%;
  background-position: top right;
  background-repeat: space;

  &:focus,
  &:active,
  &:hover {
    background-color: $state-color;
    background-image: linear-gradient(
      to bottom left,
      $color,
      darken($color, 20%),
      $color
    ) !important;
    background-image: -webkit-linear-gradient(
      to bottom left,
      $color,
      darken($color, 20%),
      $color
    ) !important;
    background-image: -o-linear-gradient(
      to bottom left,
      $color,
      darken($color, 20%),
      $color
    ) !important;
    background-image: -moz-linear-gradient(
      to bottom left,
      $color,
      darken($color, 20%),
      $color
    ) !important;
    color: $white;
  }

  &.btn-simple {
    color: $state-color;
    background-color: $transparent-bg;
    background-image: none !important;
    box-shadow: none;
    border-color: $state-color;

    &:hover,
    &:focus,
    &:active {
      color: $state-color;
      border-color: $state-color;
    }
  }
  &.btn-text {
    color: $state-color;
    background-color: $transparent-bg;
    background-image: none !important;
    box-shadow: none;
    border-color: $state-color;

    &:hover,
    &:focus,
    &:active {
      color: $state-color;
      border-color: $state-color;
    }
  }
  &.btn-neutral {
    color: $color;
    background-color: $white;

    &:hover,
    &:focus,
    &:active {
      color: $state-color;
    }
  }
}
