.form-control:focus {
  box-shadow: none;
  border-width: 2px;
  border-color: $primary;
}
.ims-input {
  cursor: text;
  border: 1px solid $stroke-regular;
  border-radius: 4px;
}
.ims-input.ims-input-focused {
  border: 2px solid $primary;
  transition: border-color 0.2s ease-in-out;
}

.ims-input.ims-input-focused.ims-input-error,
.ims-input.ims-input-error {
  border: 2px solid $danger;
}
.ims-input.ims-input-focused.ims-input-success,
.ims-input.ims-input-success {
  border: 2px solid $success;
}

.ims-text-input.form-control:focus {
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}
