.form-control:focus {
  box-shadow: none;
  border-color: $primary;
}
.signaturearea {
  .form-group {
    textarea {
      max-width: 100%;
      font-size: 70px;
      height: 150px;
      text-align: center;
      padding: 10px 10px 0 0;
      resize: none;
      border: none;
      border-bottom: 1px solid rgba($black-states, 0.5);
      border-radius: 0;
      line-height: 2;
      padding: 0;
      margin: 0;
      &:focus,
      &:active {
        border-left: none;
        border-top: none;
        border-right: none;
      }
    }
  }
  .form-control {
    border: none;
    border-bottom: 1px solid rgba($black-states, 0.5);
    border-radius: 0;
  }
}
