.input-group {
  margin-bottom: 10px;
  .input-group-text {
    transition: all 0.15s linear;
    cursor: text;
    input[type="checkbox"],
    input[type="radio"],
    button {
      cursor: pointer;
    }
  }
  &:has(.form-control-filled) {
    .input-group-text:first-child,
    .input-group-text:last-child {
      background-color: $secondary-extra-light;
      border-color: transparent;
    }
  }
  .input-group-text:first-child {
    background-color: transparent;
    padding-right: 2px;
  }
  .input-group-text:first-child {
    border-right: none;
  }
  .input-group-text:last-child {
    background-color: transparent;
    border-left: none;
  }
  .form-control:not(:first-child) {
    border-left: none;
  }
  .form-control:not(:first-child),
  .form-select:not(:first-child) {
    border-left: none;
  }
  .form-control:not(:last-child),
  .form-select:not(:last-child) {
    border-right: none;
  }
}
.input-group:focus-within {
  .input-group-text {
    border-width: 2px;
    border-color: $primary !important;
    color: $primary;
    &:first-child,
    &:last-child {
      background-color: transparent !important;
    }
  }
}
.input-group:hover {
  .input-group-text:first-child,
  .input-group-text:last-child {
    border-color: $input-border-color;
    border-width: 2px;
  }
}
