.w-24px {
  width: 24px; }

.w-50px {
  width: 50px; }

.w-75px {
  width: 75px; }

.w-100px {
  width: 100px; }

.w-auto {
  width: auto; }

.h-100px {
  height: 100px; }

.h-200px {
  height: 200px; }

.h-300px {
  height: 300px; }

.h-auto {
  height: auto; }
