.btn {
  cursor: pointer;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @if $color == "light" {
      @include btn-color($type-dark);
      @include btn-border($stroke-regular);
    } @else {
      @include btn-color($white);
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-link.btn-link-#{$color} {
    @if $color == "light" {
      @include btn-color($type-dark);
    } @else {
      @include btn-color($value);
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @if $color == "light" {
      @include btn-border($stroke-regular);
      @include btn-color($type-dark);
    } @else {
      @include btn-outline($value);
    }
  }
}
.btn-primary,
.btn-info,
.btn-success {
  @include btn-bg($primary, $primary-dark);
  @include btn-border($primary);
}

.btn-secondary,
.btn-light {
  @include btn-bg($secondary-extra-light, $stroke-light);
  @include btn-color($type-medium);
  @include btn-border($stroke-regular);
}

.btn-danger,
.btn-warning {
  @include btn-bg($danger, $danger);
  @include btn-border($danger);
}

.btn-outline-primary,
.btn-outline-info,
.btn-outline-success {
  @include btn-outline($primary, $primary-dark);
}

.btn-outline-secondary,
.btn-outline-light {
  @include btn-outline($stroke-regular, $stroke-light);
  @include btn-color($type-medium);
  @include btn-border($stroke-regular);
}

.btn-outline-danger,
.btn-outline-warning {
  @include btn-outline($danger);
}

.btn-dark {
  @include btn-bg($type-dark, $type-dark);
  @include btn-border($type-dark);
}

.btn-outline-dark {
  @include btn-outline($type-dark);
}
.btn-icon {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
