.dropdown-menu {
  min-width: 177px !important;
  padding: 5px;
  .dropdown-item {
    border-radius: $border-radius;
    white-space: nowrap;
    overflow: hidden;
    color: $type-dark;
  }
  .dropdown-item:hover {
    background-color: $primary-light;
  }
  .dropdown-item:focus {
    background-color: $primary-dark;
    color: $white;
  }
}
