.dropdown-menu {
  border: 1px solid $stroke-regular !important;
  min-width: 177px !important;
  .dropdown-item {
    white-space: nowrap;
    overflow: hidden;
  }
  .dropdown-item:hover {
    background-color: $primary-light;
    color: $type-dark;
  }
  .dropdown-item:focus {
    background-color: $primary-dark;
    color: $white;
  }
}

.dropdown-menu.action-menu {
  min-width: 205px !important;
}
