.folder-navigation {
  .popover {
    min-width: 296px !important;
    .popover-header {
      font-weight: $font-weight-bold;
      background: $white !important;
      padding: 12px 20px 12px 20px !important;
      border-bottom: 1px solid $stroke-regular;
    }
    .popover-body {
      padding: 0;
      border-bottom: 1px solid $stroke-regular;
      .list-group {
        padding: 0;
        border-radius: 0;
        border: none;
        .list-group-item {
          border: none;
        }
        .list-group-item:hover {
          border: none;
        }
        .list-group-item:active {
          border: none;
        }
        .list-group-item.active {
          border: none;
        }
      }
    }
  }
}
