.table {
  > thead {
    color: $type-dark !important;
  }
  > tbody > tr {
    cursor: pointer;
  }
}
.table-striped > tbody > tr.table-active > * {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: $table-active-color;
}
tr.table-active {
  .dropdown > button {
    color: $white;
    background-color: transparent;
  }
}
