p {
  color: $type-medium;
}
a {
  color: $primary;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $primary;
  }
}
.title {
  font-weight: $font-weight-bold;
  &.title-up {
    text-transform: uppercase;
    a {
      color: $black;
      text-decoration: none;
    }
  }
  & + .category {
    margin-top: -10px;
  }
}
blockquote {
  padding: 2.5rem $btn-padding-x $btn-padding-y $btn-padding-x;
  font-family: cursive;
  font-size: $font-size-lg;
  font-weight: $lead-font-weight;
  line-height: $paragraph-line-height;
  border-radius: $border-radius;
  background: url("../../../img/double-quotes.png");
  background-size: 3rem 3rem;
  background-color: $gray-100;
  background-repeat: no-repeat;
}
pre {
  font-size: $font-size-sm;
}
