// color system

// following colors are given custom names from iMS Systems and used to override default colors
$gray-100: #f6f9fc !default;
$gray-200: #e9ecef !default;
$gray-300: #e3e3e3 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default; // Line footer color
$gray-700: #525f7f !default; // Line p color
$gray-800: #32325d !default; // Line heading color
$gray-900: #212529 !default;
$black: #000000 !default;
$white: #ffffff !default;
$primary: #1d8bf8 !default;
$primary-dark: #1e66d2 !default;
$primary-light: #bcdfff !default;
$secondary: #6c757d !default;
$secondary-dark: #54595e !default;
$secondary-light: #abb5be !default;
$secondary-extra-light: #f6f8fa !default;
$success: #28a745 !default;
$danger: #ed3447 !default;
$permission: #439eed !default;
$warning: #ffc107 !default;
$info: #17a2b8 !default;
$type-dark: #152536 !default;
$type-medium: #6c757d !default;
$type-light: #ced4da !default;
$stroke-regular: #ced4da !default;
$stroke-light: #dee2e6 !default;
$background-primary: #ffffff !default;
$background-secondary: #ced4da !default;
// bootstrap colors
$blue: $primary !default;
$indigo: $permission !default;
$purple: $primary-dark !default;
$pink: $danger !default;
$red: $danger !default;
$orange: $warning !default;
$yellow: $warning !default;
$green: $success !default;
$teal: $success !default;
$cyan: $permission !default;

// Spacing

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Fonts

$font-family-base: "Poppins", sans-serif !default;
$font-family-alt: "Poppins", sans-serif !default;

$font-size-dash: 0.875rem !default;

$font-size-base: $font-size-dash !default; // Assumes the browser default, typically `16px`
$font-size-xl: ($font-size-base * 1.428);
$font-size-lg: ($font-size-base * 1.142);
$font-size-sm: ($font-size-base * 0.85714286);
$font-size-xs: ($font-size-base * 0.714);

$h1-font-size: $font-size-base * 2.35714285 !default; //2.1875rem
$h2-font-size: $font-size-base * 1.9285714 !default;
$h3-font-size: $font-size-base * 1.642857 !default;
$h4-font-size: $font-size-base * 1.2142857 !default;
$h5-font-size: $font-size-base * 0.9285714 !default;
$h6-font-size: $font-size-base * 0.8571428 !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-weight-extra-bold: 700 !default;

$font-paragraph: 1rem !default;

$font-weight-base: $font-weight-normal !default;
$shape-height-base: 1.428571 !default;

$headings-margin-bottom: ($spacer / 2);
$headings-font-family: inherit !default;
$headings-font-weight: $font-weight-normal !default;
$headings-line-height: 1.2 !default;
$headings-color: $type-dark !default;

$heading-letter-spacing: 0.025em !default;
$heading-font-size: 0.95rem !default;
$heading-font-weight: $headings-font-weight !default;

$heading-title-letter-spacing: 0.025em !default;
$heading-title-font-size: 1.375rem !default;
$heading-title-font-weight: $font-weight-bold !default;
$heading-section-letter-spacing: 0.025em !default;
$heading-section-font-size: 1.375rem !default;
$heading-section-font-weight: $font-weight-bold !default;
$display1-size: 3.3rem !default;
$display2-size: 2.75rem !default;
$display3-size: 2.1875rem !default;
$display4-size: 1.6275rem !default;

$paragraph-font-size: 0.625rem !default;
$paragraph-font-weight: 300 !default;
$paragraph-line-height: 1.7 !default;

$lead-font-size: ($paragraph-font-size * 1.25);
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;

$text-muted: $type-light !default;

$blockquote-small-color: $type-light !default;
$blockquote-font-size: ($font-size-base * 1.1);

$hr-border-color: rgba($black, 0.1);
// $hr-border-width: $border-width !default;

$mark-padding: 0.2em !default;

$dt-font-weight: $font-weight-bold !default;

$list-inline-padding: 0.5rem !default;

$mark-bg: #fcf8e3 !default;

$hr-margin-y: $spacer * 2 !default;

// Buttons + Forms

// TODO : Shall remove all the unnecessary variable overrides once we achive the piases design for form elements

// $input-btn-padding-y:         .375rem !default;
// $input-btn-padding-x:         .75rem !default;
// $input-btn-font-family:       null !default;
// $input-btn-font-size:         $font-size-base !default;
// $input-btn-line-height:       $line-height-base !default;

// $input-btn-focus-width:         $focus-ring-width !default;
// $input-btn-focus-color-opacity: $focus-ring-opacity !default;
// $input-btn-focus-color:         $focus-ring-color !default;
// $input-btn-focus-blur:          $focus-ring-blur !default;
// $input-btn-focus-box-shadow:    $focus-ring-box-shadow !default;

// $input-btn-padding-y-sm:      .25rem !default;
// $input-btn-padding-x-sm:      .5rem !default;
// $input-btn-font-size-sm:      $font-size-sm !default;

// $input-btn-padding-y-lg:      .5rem !default;
// $input-btn-padding-x-lg:      1rem !default;
// $input-btn-font-size-lg:      $font-size-lg !default;

// $input-btn-border-width:      var(--#{$prefix}border-width) !default;
// // scss-docs-end input-btn-variables

// // Buttons
// //
// // For each of Bootstrap's buttons, define text, background, and border color.

// // scss-docs-start btn-variables
// $btn-padding-y:               $input-btn-padding-y !default;
// $btn-padding-x:               $input-btn-padding-x !default;
// $btn-font-family:             $input-btn-font-family !default;
// $btn-font-size:               $input-btn-font-size !default;
// $btn-line-height:             $input-btn-line-height !default;
// $btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

// $btn-padding-y-sm:            $input-btn-padding-y-sm !default;
// $btn-padding-x-sm:            $input-btn-padding-x-sm !default;
// $btn-font-size-sm:            $input-btn-font-size-sm !default;

// $btn-padding-y-lg:            $input-btn-padding-y-lg !default;
// $btn-padding-x-lg:            $input-btn-padding-x-lg !default;
// $btn-font-size-lg:            $input-btn-font-size-lg !default;

// $btn-border-width:            $input-btn-border-width !default;

// $btn-font-weight:             $font-weight-normal !default;
// $btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
// $btn-focus-width:             $input-btn-focus-width !default;
// $btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
// $btn-disabled-opacity:        .65 !default;
// $btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

// $btn-link-color:              var(--#{$prefix}link-color) !default;
// $btn-link-hover-color:        var(--#{$prefix}link-hover-color) !default;
// $btn-link-disabled-color:     $gray-600 !default;

// // Allows for customizing button radius independently from global border radius
// $btn-border-radius:           $border-radius !default;
// $btn-border-radius-sm:        $border-radius-sm !default;
// $btn-border-radius-lg:        $border-radius-lg !default;

// $btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// $btn-hover-bg-shade-amount:       15% !default;
// $btn-hover-bg-tint-amount:        15% !default;
// $btn-hover-border-shade-amount:   20% !default;
// $btn-hover-border-tint-amount:    10% !default;
// $btn-active-bg-shade-amount:      20% !default;
// $btn-active-bg-tint-amount:       20% !default;
// $btn-active-border-shade-amount:  25% !default;
// $btn-active-border-tint-amount:   10% !default;
// // scss-docs-end btn-variables

// // Forms

// // scss-docs-start form-text-variables
// $form-text-margin-top:                  .25rem !default;
// $form-text-font-size:                   $small-font-size !default;
// $form-text-font-style:                  null !default;
// $form-text-font-weight:                 null !default;
// $form-text-color:                       var(--#{$prefix}secondary-color) !default;
// // scss-docs-end form-text-variables

// // scss-docs-start form-label-variables
// $form-label-margin-bottom:              .5rem !default;
// $form-label-font-size:                  null !default;
// $form-label-font-style:                 null !default;
// $form-label-font-weight:                null !default;
// $form-label-color:                      null !default;
// // scss-docs-end form-label-variables

// // scss-docs-start form-input-variables
// $input-padding-y:                       $input-btn-padding-y !default;
// $input-padding-x:                       $input-btn-padding-x !default;
// $input-font-family:                     $input-btn-font-family !default;
// $input-font-size:                       $input-btn-font-size !default;
// $input-font-weight:                     $font-weight-base !default;
// $input-line-height:                     $input-btn-line-height !default;

// $input-padding-y-sm:                    $input-btn-padding-y-sm !default;
// $input-padding-x-sm:                    $input-btn-padding-x-sm !default;
// $input-font-size-sm:                    $input-btn-font-size-sm !default;

// $input-padding-y-lg:                    $input-btn-padding-y-lg !default;
// $input-padding-x-lg:                    $input-btn-padding-x-lg !default;
// $input-font-size-lg:                    $input-btn-font-size-lg !default;

// $input-bg:                              var(--#{$prefix}body-bg) !default;
// $input-disabled-color:                  null !default;
// $input-disabled-bg:                     var(--#{$prefix}secondary-bg) !default;
// $input-disabled-border-color:           null !default;

// $input-color:                           var(--#{$prefix}body-color) !default;
// $input-border-color:                    var(--#{$prefix}border-color) !default;
// $input-border-width:                    $input-btn-border-width !default;
// $input-box-shadow:                      $box-shadow-inset !default;

// $input-border-radius:                   $border-radius !default;
// $input-border-radius-sm:                $border-radius-sm !default;
// $input-border-radius-lg:                $border-radius-lg !default;

// $input-focus-bg:                        $input-bg !default;
// $input-focus-border-color:              tint-color($component-active-bg, 50%) !default;
// $input-focus-color:                     $input-color !default;
// $input-focus-width:                     $input-btn-focus-width !default;
// $input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

// $input-placeholder-color:               var(--#{$prefix}secondary-color) !default;
// $input-plaintext-color:                 var(--#{$prefix}body-color) !default;

// $input-height-border:                   calc($input-border-width * 2) !default; // stylelint-disable-line function-disallowed-list

// $input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2) !default;
// $input-height-inner-half:               add($input-line-height * .5em, $input-padding-y) !default;
// $input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y * .5) !default;

// $input-height:                          add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
// $input-height-sm:                       add($input-line-height * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
// $input-height-lg:                       add($input-line-height * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;

// $input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// $form-color-width:                      3rem !default;
// // scss-docs-end form-input-variables

// // scss-docs-start form-check-variables
// $form-check-input-width:                  1em !default;
// $form-check-min-height:                   $font-size-base * $line-height-base !default;
// $form-check-padding-start:                $form-check-input-width + .5em !default;
// $form-check-margin-bottom:                .125rem !default;
// $form-check-label-color:                  null !default;
// $form-check-label-cursor:                 null !default;
// $form-check-transition:                   null !default;

// $form-check-input-active-filter:          brightness(90%) !default;

// $form-check-input-bg:                     $input-bg !default;
// $form-check-input-border:                 var(--#{$prefix}border-width) solid var(--#{$prefix}border-color) !default;
// $form-check-input-border-radius:          .25em !default;
// $form-check-radio-border-radius:          50% !default;
// $form-check-input-focus-border:           $input-focus-border-color !default;
// $form-check-input-focus-box-shadow:       $focus-ring-box-shadow !default;

// $form-check-input-checked-color:          $component-active-color !default;
// $form-check-input-checked-bg-color:       $component-active-bg !default;
// $form-check-input-checked-border-color:   $form-check-input-checked-bg-color !default;
// $form-check-input-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !default;
// $form-check-radio-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>") !default;

// $form-check-input-indeterminate-color:          $component-active-color !default;
// $form-check-input-indeterminate-bg-color:       $component-active-bg !default;
// $form-check-input-indeterminate-border-color:   $form-check-input-indeterminate-bg-color !default;
// $form-check-input-indeterminate-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>") !default;

// $form-check-input-disabled-opacity:        .5 !default;
// $form-check-label-disabled-opacity:        $form-check-input-disabled-opacity !default;
// $form-check-btn-check-disabled-opacity:    $btn-disabled-opacity !default;

// $form-check-inline-margin-end:    1rem !default;
// // scss-docs-end form-check-variables

// // scss-docs-start form-switch-variables
// $form-switch-color:               rgba($black, .25) !default;
// $form-switch-width:               2em !default;
// $form-switch-padding-start:       $form-switch-width + .5em !default;
// $form-switch-bg-image:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color}'/></svg>") !default;
// $form-switch-border-radius:       $form-switch-width !default;
// $form-switch-transition:          background-position .15s ease-in-out !default;

// $form-switch-focus-color:         $input-focus-border-color !default;
// $form-switch-focus-bg-image:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>") !default;

// $form-switch-checked-color:       $component-active-color !default;
// $form-switch-checked-bg-image:    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-checked-color}'/></svg>") !default;
// $form-switch-checked-bg-position: right center !default;
// // scss-docs-end form-switch-variables

// // scss-docs-start input-group-variables
// $input-group-addon-padding-y:           $input-padding-y !default;
// $input-group-addon-padding-x:           $input-padding-x !default;
// $input-group-addon-font-weight:         $input-font-weight !default;
// $input-group-addon-color:               $input-color !default;
// $input-group-addon-bg:                  var(--#{$prefix}tertiary-bg) !default;
// $input-group-addon-border-color:        $input-border-color !default;
// // scss-docs-end input-group-variables

// // scss-docs-start form-select-variables
// $form-select-padding-y:             $input-padding-y !default;
// $form-select-padding-x:             $input-padding-x !default;
// $form-select-font-family:           $input-font-family !default;
// $form-select-font-size:             $input-font-size !default;
// $form-select-indicator-padding:     $form-select-padding-x * 3 !default; // Extra padding for background-image
// $form-select-font-weight:           $input-font-weight !default;
// $form-select-line-height:           $input-line-height !default;
// $form-select-color:                 $input-color !default;
// $form-select-bg:                    $input-bg !default;
// $form-select-disabled-color:        null !default;
// $form-select-disabled-bg:           $input-disabled-bg !default;
// $form-select-disabled-border-color: $input-disabled-border-color !default;
// $form-select-bg-position:           right $form-select-padding-x center !default;
// $form-select-bg-size:               16px 12px !default; // In pixels because image dimensions
// $form-select-indicator-color:       $gray-800 !default;
// $form-select-indicator:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;

// $form-select-feedback-icon-padding-end: $form-select-padding-x * 2.5 + $form-select-indicator-padding !default;
// $form-select-feedback-icon-position:    center right $form-select-indicator-padding !default;
// $form-select-feedback-icon-size:        $input-height-inner-half $input-height-inner-half !default;

// $form-select-border-width:        $input-border-width !default;
// $form-select-border-color:        $input-border-color !default;
// $form-select-border-radius:       $input-border-radius !default;
// $form-select-box-shadow:          $box-shadow-inset !default;

// $form-select-focus-border-color:  $input-focus-border-color !default;
// $form-select-focus-width:         $input-focus-width !default;
// $form-select-focus-box-shadow:    0 0 0 $form-select-focus-width $input-btn-focus-color !default;

// $form-select-padding-y-sm:        $input-padding-y-sm !default;
// $form-select-padding-x-sm:        $input-padding-x-sm !default;
// $form-select-font-size-sm:        $input-font-size-sm !default;
// $form-select-border-radius-sm:    $input-border-radius-sm !default;

// $form-select-padding-y-lg:        $input-padding-y-lg !default;
// $form-select-padding-x-lg:        $input-padding-x-lg !default;
// $form-select-font-size-lg:        $input-font-size-lg !default;
// $form-select-border-radius-lg:    $input-border-radius-lg !default;

// $form-select-transition:          $input-transition !default;
// // scss-docs-end form-select-variables

// // scss-docs-start form-range-variables
// $form-range-track-width:          100% !default;
// $form-range-track-height:         .5rem !default;
// $form-range-track-cursor:         pointer !default;
// $form-range-track-bg:             var(--#{$prefix}tertiary-bg) !default;
// $form-range-track-border-radius:  1rem !default;
// $form-range-track-box-shadow:     $box-shadow-inset !default;

// $form-range-thumb-width:                   1rem !default;
// $form-range-thumb-height:                  $form-range-thumb-width !default;
// $form-range-thumb-bg:                      $component-active-bg !default;
// $form-range-thumb-border:                  0 !default;
// $form-range-thumb-border-radius:           1rem !default;
// $form-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1) !default;
// $form-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-focus-box-shadow !default;
// $form-range-thumb-focus-box-shadow-width:  $input-focus-width !default; // For focus box shadow issue in Edge
// $form-range-thumb-active-bg:               tint-color($component-active-bg, 70%) !default;
// $form-range-thumb-disabled-bg:             var(--#{$prefix}secondary-color) !default;
// $form-range-thumb-transition:              background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
// // scss-docs-end form-range-variables

// // scss-docs-start form-file-variables
// $form-file-button-color:          $input-color !default;
// $form-file-button-bg:             var(--#{$prefix}tertiary-bg) !default;
// $form-file-button-hover-bg:       var(--#{$prefix}secondary-bg) !default;
// // scss-docs-end form-file-variables

// // scss-docs-start form-floating-variables
// $form-floating-height:                  add(3.5rem, $input-height-border) !default;
// $form-floating-line-height:             1.25 !default;
// $form-floating-padding-x:               $input-padding-x !default;
// $form-floating-padding-y:               1rem !default;
// $form-floating-input-padding-t:         1.625rem !default;
// $form-floating-input-padding-b:         .625rem !default;
// $form-floating-label-height:            1.875em !default;
// $form-floating-label-opacity:           .65 !default;
// $form-floating-label-transform:         scale(.85) translateY(-.5rem) translateX(.15rem) !default;
// $form-floating-label-disabled-color:    $gray-600 !default;
// $form-floating-transition:              opacity .1s ease-in-out, transform .1s ease-in-out !default;
// // scss-docs-end form-floating-variables

// // Form validation

// // scss-docs-start form-feedback-variables
// $form-feedback-margin-top:          $form-text-margin-top !default;
// $form-feedback-font-size:           $form-text-font-size !default;
// $form-feedback-font-style:          $form-text-font-style !default;
// $form-feedback-valid-color:         $success !default;
// $form-feedback-invalid-color:       $danger !default;

// $form-feedback-icon-valid-color:    $form-feedback-valid-color !default;
// $form-feedback-icon-valid:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !default;
// $form-feedback-icon-invalid-color:  $form-feedback-invalid-color !default;
// $form-feedback-icon-invalid:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>") !default;
// // scss-docs-end form-feedback-variables

// // scss-docs-start form-validation-states
// $form-validation-states: (
//   "valid": (
//     "color": var(--#{$prefix}success-text),
//     "icon": $form-feedback-icon-valid,
//     "tooltip-color": #fff,
//     "tooltip-bg-color": var(--#{$prefix}success),
//     "focus-box-shadow": 0 0 $input-btn-focus-blur $input-focus-width rgba(var(--#{$prefix}success-rgb), $input-btn-focus-color-opacity),
//     "border-color": var(--#{$prefix}success),
//   ),
//   "invalid": (
//     "color": var(--#{$prefix}danger-text),
//     "icon": $form-feedback-icon-invalid,
//     "tooltip-color": #fff,
//     "tooltip-bg-color": var(--#{$prefix}danger),
//     "focus-box-shadow": 0 0 $input-btn-focus-blur $input-focus-width rgba(var(--#{$prefix}danger-rgb), $input-btn-focus-color-opacity),
//     "border-color": var(--#{$prefix}danger),
//   )
// ) !default;
